$lightBlue: #ACCEEC;
$darkBlue: #398BD4;


$lightGoldenBrown: #fcd630;
$lightTeal: #56BDA2;
$midTeal: #2494A2;
$midNavyBlue: #304B78;
$darkNavyBlue: #2D325A;
$darkBlueBlack: #0A0E29;
$lightGreyWhite: #e8e8e8;
$yarnBlue: #558CBB;
$lineYarnBlue: $lightGreyWhite * .85;